/* font-family: 'Courgette', cursive; ----- for description */ 
/* font-family: 'Courgette', cursive;
font-family: 'Frank Ruhl Libre', serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Frank Ruhl Libre', serif;
}

#menu {
  height: 3rem;
  background: #dd8f8f;
  text-align: center;
  color: #000;
}

#menu h2 {
  font-size: 1.8rem;
  padding-top: 0.4rem;
  font-weight: bold;
}

#todo-body {
  display: flex;
}

#group-box {
  width: 25%;
  height: 92.8vh;
  background: #e2bfbf;
  overflow-y: scroll;
  padding: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

#group-box h3 {
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

#group-name {
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: none;
  width: 100%;
}

#submit-group {
  margin-top: 1rem;
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 6px;
}

.group-name {
  display: flex;
  margin-top: 4rem;
}

.fa-folder-open {
  font-size: 1.7rem;
  padding-left: 2.3rem;
}

#task-container {
  background: cadetblue;
  height: 92.8vh;
  width: 100%;
}

#delete-group {
  width: 100%;
  border-radius: 10px;
}

.add-group {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

#enter-task {
  width: 32%;
  background: cornflowerblue;
  position: absolute;
  top: 16%;
  left: 40%;
  border-radius: 10px;  
}

.close-box {
  height: 2rem;
  display: block;
}
  
.close {
  padding: 0.3rem 0.4rem;
  text-decoration: none;
  font-size: 1.5rem;
  float: right;
}
  
.close a {
  color: #fff;
}

.form {
  padding: 1rem;
}

.form label{
  margin: 0;
  font-size: 1.2rem;
}

  input[type='text'],
  input[type= 'date'],
  input[type='submit'],
  textarea,
  select {
  width: 100%;
  margin-bottom: 0.6rem;
  font-size: 1rem;
  border-radius: 5px;
  font-family: 'Courgette', cursive;
  background: #f0ebeb;
  padding: 0.2rem;
}

.add-task {
  font-size: 3rem;
  color: #232fcf;
  position: absolute;
  top: 20%;
  left: 25%;
}

.no-display {
  display: none;
}

#group-container p {
  margin: 0 0 0.4rem 0;
  font-weight: bold;
  color: #000;
  border: 1px solid #232fcf;
}

.active-group {
  background: #068640;
}

.group-duplicate {
  color: #f30b32;
}

.red-border {
  border: 2px solid #f30b32;
}